:root{
--secondary-bg-color: rgb(130, 19, 19);
}

body{
  background-image: linear-gradient(black, rgb(173, 30, 30));
  padding-bottom: 10%;
}

.nav{
    position: fixed; /* Fixes the navbar to the viewport */
    top: 0; /* Positions it at the very top */
    left: 0; /* Positions it at the very left */
    width: 100%; /* Makes it span the full width of the viewport */
    padding: 10px 0;
    z-index: 1000;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom,var(--secondary-bg-color), rgb(30, 2, 2));
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
    
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}



.calendar {
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}



.day {
  background: #d0b632;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.day.locked {
  background: #888;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Hidden content */
.content {
  display: none;
  margin-top: 10px;
}

.content img {
  max-width: 100%;
  border-radius: 5px;
}

.day.open .content {
  display: block;
}
